<link
  href="/styles/style.css"
  rel="stylesheet"
/>
<meta
  content="A simple Tesseract demo with EJS, Epxress and Node"
  name="description"
/>
<meta
  content="Tesseract Demo"
  property="og:title"
/>
<meta
  content="A simple Tesseract demo with EJS, Epxress and Node"
  property="og:description"
/>
<meta
  content="https://tesseract-demo.herokuapp.com/img/logo.png"
  property="og:image"
/>
<title>Tesseract Demo</title>
