<!DOCTYPE html>
<html>
  <head>
    <link
      href='/styles/style.css'
      rel='stylesheet'
    />
    <script src="/js/jq.js"></script>
    <script src="/js/index.js"></script>
    <title>Tesseract Demo</title>
  </head>
  <body>
    <div class="centered">
      <h1>Tesseract Demo</h1>
      <form
        class="file-form"
        id="form"
      >
        <label class="button">
          <input
            accept="image/jpeg, image/png"
            id="file"
            type="file"
          />
          Select File
        </label>
        <button
          class="button"
          type="submit"
        >
          Process File
        </button>
      </form>
    </div>
    <footer>
      <a href="https://github.com/peterdee">Peter Dyumin</a> | 2020
    </footer>
  </body>
</html>
