<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
    <script src="/js/jq.js"></script>
    <script src="/js/index.js"></script>
  </head>
  <body>
    <div class="wrap noselect">
      <h1>TESSERACT DEMO</h1>
      <h2>SUPPORTS ENGLISH AND RUSSIAN LANGUAGES</h2>
      <div class="source">
        <a href="https://github.com/peterdee/tesseract-demo">
          VIEW SOURCE
        </a>
      </div>
      <form
        class="file-form"
        id="form"
      >
        <label class="button">
          <input
            accept="image/jpeg, image/png"
            id="file"
            type="file"
          />
          Select File
        </label>
        <button
          class="button"
          type="submit"
        >
          Process File
        </button>
      </form>
      <div
        class="error"
        id="error"
      ></div>
    </div>
    <%- include('partials/footer', { generated, year }); %>
  </body>
</html>
