<!DOCTYPE html>
<html>
  <head>
    <link
      href='/styles/style.css'
      rel='stylesheet'
    />
    <title>Tesseract Demo</title>
  </head>
  <body>
    <div class="centered">
      <h1>Processed</h1>
      <div>
        <%= result %>
      </div>
    </div>
    <footer>
      <a href="https://github.com/peterdee">Peter Dyumin</a>, <%= year %>
    </footer>
  </body>
</html>
