<!DOCTYPE html>
<html>
  <head>
    <link
      href='/styles/style.css'
      rel='stylesheet'
    />
    <script src="/js/jq.js"></script>
    <script src="/js/processed.js"></script>
    <title>Tesseract Demo</title>
  </head>
  <body>
    <div class="centered">
      <h1>Processed</h1>
    </div>
    <footer>
      <a href="https://github.com/peterdee">Peter Dyumin</a> | 2020
    </footer>
  </body>
</html>
