<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <div class="centered">
      <h1>Processed</h1>
      <div>
        <%= result %>
      </div>
    </div>
    <%- include('partials/footer', { generated, year }); %>
  </body>
</html>
