<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <div class="result">
      <h1>Processed</h1>
      <textarea disabled="true">
        <%- result %>
      </textarea>
      <div class="back">
        <a href="/">Back</a>
      </div>
    </div>
    <%- include('partials/footer', { generated, year }); %>
  </body>
</html>
